@{
    ViewBag.Title = "Xác nhận đăng ký thành công";
}

     <h2>Thông tin học phần đã lưu</h2>
    <div>
        <p>
           Bạn đã đăng ký thành công!
       </p>
    </div>
    <p>
      <a asp-controller="HocPhan" asp-action="ListHP">Về trang chủ</a>
   </p>